{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Translation plugin for Craft CMS 3.x
 *
 * Translation index.twig
 *
 * @author    bitsoflove
 * @copyright Copyright (c) 2022 bitsoflove
 * @link      https://www.bitsoflove.be/
 * @package   Translation
 * @since     0.0.1
 */
#}

{% extends "_layouts/elementindex" %}
{% import "_includes/forms" as forms %}
{% set elementType = 'bitsoflove\\translation\\elements\\Translate' %}
{% set elementInstance = craft.app.elements.createElement(elementType) %}

{% do view.registerAssetBundle("bitsoflove\\translation\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}
{% set title = "Translate" %}

{% set sites = craft.app.sites.getAllSites() %}
{% set primarySite = craft.app.sites.primarySite %}

{% block actionButton %}
    <div class="flex">
        <div class="btngroup">
            <button type="submit" class="btn" data-icon="upload" id="import-button" value="{{ 'Import' | t('translations') }}">{{ 'Import' | t('translations') }}</button>
            <button type="submit" class="btn" data-icon="download" id="export-btn" value="{{ 'Export' | t('translations') }}">{{ 'Export' | t('translations') }}</button>
        </div>
        <div class="btngroup">
            <input type="submit" class="btn submit" id="save-button" value="{{ 'Save' | t('translations') }}">
        
            <div class="btn submit menubtn"></div>
            <div class="menu">
                <ul>
                    <li>
                        <a id="save-shortcut-button">
                            {{ forms.optionShortcutLabel('S') }}
                            {{ "Save and continue editing"|t('app') }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block toolbar %}
    {% include '_elements/toolbar' with {
        showSiteMenu: false,
        context: null
    } %}
{% endblock %}

{% block contextMenu %}
    <button type="button" id="site-button" class="btn menubtn sitemenubtn" data-site-id="{{ primarySite.id }}" data-icon="world" tabindex="0">{{ primarySite.name ~ " (" ~ primarySite.language ~ ")" }}</button>
    <div class="menu">
        {% for site in sites %}
            <ul class="padded">
                <li>
                    {% if site.id == primarySite.id %}
                        <a data-site-id="{{ site.id }}" class="sel translation-site-ids">{{ site.name ~ " (" ~ site.language ~ ")" }}</a>
                    {% else %}
                        <a data-site-id="{{ site.id }}" class="translation-site-ids">{{ site.name ~ " (" ~ site.language ~ ")" }}</a>
                    {% endif %}
                </li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <form method="post" id="translation-form" enctype="multipart/form-data">
        {{ csrfInput() }}
        {{ actionInput('translation/translation/save') }}

        <input type="hidden" class="translation-site-id" name="siteId" value="{{ primarySite.id }}">
        <input type="hidden" class="translation-category" name="category" value="site">
        
        <div class="main">
            <div class="elements">
            </div>
        </div>
    </form>

    <form method="post" id="import-form" enctype="multipart/form-data">
        {{ csrfInput() }}
        {{ actionInput('translation/import/import-csv') }}

        <input type="hidden" class="translation-site-id" name="siteId" value="{{ primarySite.id }}">
        <input type="file" accept="text/csv" name="translation-import" style="display: none"/>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}
